[submodule "3rd/Sophus"]
	path = 3rd/Sophus
	url = https://github.com/strasdat/Sophus.git
[submodule "3rd/imgui"]
	path = 3rd/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rd/ImGuizmo"]
	path = 3rd/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
